body {
      font-family: "Segoe UI", "Comic Sans MS", sans-serif;
   line-height: 1.8;
    }
header {
  padding: 2rem 1rem;
}
h1 {
  color: #c41e3a;
}
h2,h3 {
  color: darkblue; 
}

h1, h2, h3 {
  margin: 1.5rem auto;
  max-width: 100%;
  text-align: center;
} 

.images { 
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
gap: 20px;
margin: 3rem 0;
}
.images img{
 width: 100%;
 height: 360px;
 object-fit: cover;
 border-radius: 12px;
 box-shadow: 0 8px 20px rgba(0,0,0,0.15);
 transition: transform 0.3s, box-shadow 0.3s ease;
}
.images img: hover {
 transform: translateY(-08px);
 box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

 .list {
  background: lightgreen;
  padding: 1.5rem 1rem 1.5rem 2.5rem;
  border-radius: 100px;
  max-width: 1050px;
  margin: 1rem auto;
  list-style: none;
}

.list li {
  margin: 2rem 1.5;
  padding-left: 1;
}


.top-list {
 background: lightgreen;
 padding: 2rem 5rem;
 border-radius: 100px;
 counter-reset: my-counter;
 max-width: 800px;
 margin: 1rem auto;
}